<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iigeo.appcode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".base.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.HandlerActivity"
            android:label="@string/handler_title" />
        <activity
            android:name=".base.WebActivity"
            android:label="@string/jsbridge_title" />
        <activity
            android:name=".base.BinderActivity"
            android:label="@string/binder_title" />
        <activity
            android:name=".base.CustomViewActivity"
            android:label="@string/custonview_title" />
        <activity
            android:name=".base.AnimationActivity"
            android:label="@string/animation_title" />
        <activity android:name=".base.SocketActivity"
            android:label="@string/socket_title"/>
    </application>

</manifest>